/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #52b51d;
    color: #333;
    line-height: 1.6;
}

/* Header styling */
header {
    background-color: #d01010;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

/* Main styling */
main {
    margin: 20px;
}

/* Quiz section styling */
#quiz-btn-section {
    text-align: center;
    margin-bottom: 20px;
}

#quiz-section {
    background-color: #a092c2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-right: 5px;
}

/* Submit button styling */
#quiz-submit {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#quiz-submit:hover {
    background-color: #555;
}

/* Footer styling */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

footer h6 {
    margin-bottom: 5px;
}